.profile {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 10rem;
  }
  
  .profile-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .profile-header h2 {
    margin-top: 2rem;
    font-size: 84px;
    margin-left: 4rem;
  }

  .profile-img {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 10rem;
    height: 10rem;
    float: left;
  }

  .profile-username{
    font-size: 46px;
    padding-left: 4rem;
  }

  .profile-text{
    font-size: 28px;
    padding-left: 4rem;
  }

  .container-profile{
    display: flex;
    align-items: center;
  }

  .settings-header h2 {
    margin-top: 10rem;
    font-size: 84px;
    margin-left: 4rem;
  }
  
  .theme-header h2 {
    margin-top: 3rem;
    font-size: 40px;
    margin-left: 4rem;
  }
  .theme-selector {
    display: flex;
    padding-left: 4rem;
  }
  
  .theme-button {
    border: 3px solid black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 20px;
    cursor: pointer;
  }
  
  .theme-button:focus {
    outline: none;
  }
  
  .theme-button:nth-of-type(1) {
    background-color: rgb(86, 86, 86);
  }
  
  .theme-button:nth-of-type(2) {
    background-color: rgb(255, 255, 255);
  }
  
  .theme-button:nth-of-type(3) {
    background-color: rgb(97, 40,253);
  }